{% load static %}
{% load file_extras %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .file-tree {
            list-style: none;
            margin: 2px;
            padding-left: 20px;
        }
        .folder {
            cursor: pointer;
            font-weight: bold;
        }
        .files {
            display: none;
            padding-left: 20px;
        }
    </style>
  </head>
  <body>
    <main>
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    <section>
    <h1>File Manager</h1>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
      </form>
    </section>

    <section>
        <h2>Files</h2>
        {% render_tree files_tree %}
    </section>
    </main>

<script>
    function toggleFiles(element) {
        const filesList = element.nextElementSibling; // Obtener la lista de archivos
        if (filesList.style.display === "none" || filesList.style.display === "") {
            filesList.style.display = "block"; // Mostrar archivos
        } else {
            filesList.style.display = "none"; // Ocultar archivos
        }
    }

    function viewFile(fileUrl) {
        alert("Ver archivo: " + fileUrl);
    }

    function downloadFile(fileUrl) {
        alert("Descargar archivo: " + fileUrl);
        // window.location.href = fileUrl; // Descomentar para descargar
    }

    function moveFile(fileName) {
        alert("Mover archivo: " + fileName);
    }

    function deleteFile(fileName) {
        alert("Eliminar archivo: " + fileName);
    }
</script>

  </body>
</html>
